

#galeria {
    padding: 20px;
    text-align: center;

}

.galeria-p h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 300px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.personagem {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.personagem:hover {
    transform: translateY(-10px);
}

.personagem img {
    width: 100%;
    height: auto;
}

.descricao {
    padding: 10px;
    text-align: left;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.descricao h2 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.descricao p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: #555;
}

.personagem:hover .descricao {
    transform: translateY(-10px);
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}
